:root {
    --highlight-color: #73FBD3;
    --main-color: #59D2FE;
    --contrast-color-dark: #5C7AFF;
    --contrast-color-light: #44E5E7;
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 32px;
    --space-xlarge: 64px;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* CSS Reset End */

/* Utilities Start */
.gap-small {
    gap: var(--space-small);
}

.gap-medium {
    gap:var(--space-medium);
}

.padding-small {
    padding: var(--space-small); 
}

.padding-medium {
    padding: var(--space-medium);
}

.padding-large {
    padding: var(--space-large);
}

.padding-xlarge {
    padding: var(--space-xlarge);
}

.margin-small {
    margin: var(--space-small);
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

/* Utilities End */

/* External Resources Start */

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.stamp {
  --r: 20px; /* control the radius */

  height: 100px;
  aspect-ratio: 1;
  padding: var(--r);
  background: var(--contrast-color-dark);
  mask: 
    radial-gradient(50% 50%,#0000 66%,#000 67%) round 
     var(--r) var(--r)/calc(2*var(--r)) calc(2*var(--r)), 
    conic-gradient(#000 0 0) content-box;
}

/* HTML: <div class="dashed-circle"></div> */
.dashed-circle {
  --n: 18;   /* number of dashes */
  --d: 8deg; /* control the space between dashes */
  
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 5px; /* border thickness */
  /* the coloration (more examples: https://css-tip.com/dashed-rounded-border/ */
  background: 
    repeating-conic-gradient(
      #44E5E7 0 calc(  360deg/var(--n)), 
      #5C7AFF 0 calc(2*360deg/var(--n))
    );
  mask: 
    linear-gradient(#0000 0 0) content-box intersect, 
    repeating-conic-gradient(from calc(var(--d)/2),
     #000  0 calc(360deg/var(--n) - var(--d)),
     #0000 0 calc(360deg/var(--n))
   );
}

/* External Resources End */

.icon {
    width: var(--space-large);
}

.comic {
    max-width: 400px;
}

.skill-icon {
  background-color: var(--contrast-color-light);
  height: 100px;
  aspect-ratio: 1;
  padding: 10px;
  border: 5px solid var(--contrast-color-dark);
  border-radius:50%;
  box-sizing: border-box;
}

body {
    /* background-color: white; */
    background-image: linear-gradient(to left, rgba(255,0,0,0), var(--main-color));
}

header {
    display: flex;
    flex-direction: row;
}

.form-width {
    width: 50%;
}

h1 {
    font-family: "Rubik Maze", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    padding: var(--space-medium);
}

h2 {
    font-size: 2rem;
    /* background-color: var(--highlight-color); */
    background-image: linear-gradient(to right, rgba(255,0,0,0), var(--highlight-color));
}

footer {
    padding: var(--space-large);
}

/* * {
    border: 1px solid red;
    
} */