:root {
    --brand: #73FBD3;
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 32px;
    --space-xlarge: 64px;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* CSS Reset End */

/* Utilities Start */
.gap-small {
    gap: var(--space-small);
}

.gap-medium {
    gap:var(--space-medium);
}

.padding-small {
    padding: var(--space-small); 
}

.padding-medium {
    padding: var(--space-medium);
}

.padding-large {
    padding: var(--space-large);
}

.padding-xlarge {
    padding: var(--space-xlarge);
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* Utilities End */

.icon {
    width: var(--space-large);
}

body {
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

footer {

}