:root {
    --highlight-color: #73FBD3;
    --main-color: #59D2FE;
    --contrast-color-dark: #5C7AFF;
    --contrast-color-light: #44E5E7;
    --shadow-color: #4A8FE7;
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 32px;
    --space-xlarge: 64px;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* CSS Reset End */

/* Utilities Start */
.gap-small {
    gap: var(--space-small);
}

.gap-medium {
    gap: var(--space-medium);
}

.padding-small {
    padding: var(--space-small);
}

.padding-medium {
    padding: var(--space-medium);
}

.padding-large {
    padding: var(--space-large);
}

.padding-xlarge {
    padding: var(--space-xlarge);
}

.margin-small {
    margin: var(--space-small);
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

/* Utilities End */

/* High-level scope Starts */

html {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), var(--main-color));
    /* background-image: linear-gradient(var(--main-color) 50%, rgba(255,0,0,0) 100%); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: "Rubik Maze", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    padding: var(--space-medium);
}

h2 {
    font-size: 2rem;
    /* background-color: var(--highlight-color); */
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--highlight-color));
}

footer {
    padding: var(--space-large);
}


/* High-level scope Ends */

/* Specific scope Starts Starts */

.icon {
    width: var(--space-large);
}

.comic {
    max-width: 400px;
}

.profile {
    display: block;
    max-width: 200px;
    max-height: 209px;
    width: auto;
    height: auto;
}

.skill-icon {
    box-sizing: border-box;
    background-color: var(--contrast-color-light);
    background-image: linear-gradient(to bottom right, var(--contrast-color-light), var(--shadow-color));
    ;
    height: 100px;
    aspect-ratio: 1;
    padding: 10px;
    border: 5px solid var(--contrast-color-dark);
    border-radius: 50%;
}


.form-width {
    width: 50%;
}


.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--shadow-color);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Prevent the hidden tooltip from intercepting clicks */
    pointer-events: none;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    /* Allow interaction when visible if needed */
    pointer-events: auto;
}

/* Specific scope Ends */

/* Media Starts */

@media screen and (max-width: 400px) {
    body {
        margin: auto;
        overflow: scroll;
    }
}

@media screen and (min-width: 400px) {
    header, main, footer {
        max-width: 600px;
        margin: auto;
    }
}

/* 768 mobile
large mobile
1024< laptop */

@media screen and (min-width: 768px) {
   
    header, main, footer {
        max-width: 900px;
        margin: auto;
    }
}

/* Media Ends */

/* * {
    border: 1px solid red;
} */