:root {
    --highlight-color: #73FBD3;
    --main-color: #59D2FE;
    --contrast-color: #5C7AFF;
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 32px;
    --space-xlarge: 64px;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* CSS Reset End */

/* Utilities Start */
.gap-small {
    gap: var(--space-small);
}

.gap-medium {
    gap:var(--space-medium);
}

.padding-small {
    padding: var(--space-small); 
}

.padding-medium {
    padding: var(--space-medium);
}

.padding-large {
    padding: var(--space-large);
}

.padding-xlarge {
    padding: var(--space-xlarge);
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

/* Utilities End */

/* External Resources Start */

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* External Resources End */

.icon {
    width: var(--space-large);
}

.comic {
    max-width: 400px;
}

body {
    /* background-color: white; */
    background-image: linear-gradient(to left, rgba(255,0,0,0), var(--main-color));
}
}

header {
    display: flex;
    flex-direction: row;
}

.form-width {
    width: 50%;
}

h1 {
    font-family: "Rubik Maze", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    padding: var(--space-medium);
}

h2 {
    font-size: 2rem;
    /* background-color: var(--highlight-color); */
    background-image: linear-gradient(to right, rgba(255,0,0,0), var(--highlight-color));
}


footer {

}

/* * {
    border: 1px solid red;
    
} */